objs/
/Makefile

/deps/pcre-8.45/*.o
/deps/pcre-8.45/*.lo
/deps/pcre-8.45/*.la
/deps/pcre-8.45/*.pc
/deps/pcre-8.45/.deps
/deps/pcre-8.45/.libs
/deps/pcre-8.45/Makefile
/deps/pcre-8.45/config.h
/deps/pcre-8.45/config.log
/deps/pcre-8.45/config.status
/deps/pcre-8.45/libtool
/deps/pcre-8.45/pcre.h
/deps/pcre-8.45/pcre-config
/deps/pcre-8.45/pcretest
/deps/pcre-8.45/pcregrep
/deps/pcre-8.45/pcrecpp_unittest
/deps/pcre-8.45/pcre_scanner_unittest
/deps/pcre-8.45/pcre_stringpiece_unittest
/deps/pcre-8.45/pcre_stringpiece.h
/deps/pcre-8.45/pcre_chartables.c
/deps/pcre-8.45/pcrecpparg.h
/deps/pcre-8.45/stamp-h1
